body{
    background-color: black;
    color: beige;
}
h1{
    color: hotpink;
    text-align: center;
}
div.contenedor{
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid aqua;
    padding: 15px;
    color: teal;
}

div.contenedor.hijo > p{
    background-color: hotpink;
}
div.contenedor.adyacente + p{
    background-color: lime;
    color: black;
}
div.contenedor.hermano ~ p{
    background-color: aqua;
    color: black;
}