h1{
    text-align: center;
}

.rojo{
    border: 10px solid hsl(0, 68%, 42%);
}

.rosa{
    border: 10px dashed hotpink;
}

.amarillo{
    border: 10px double gold;
}

.azul{
    border: 10px dotted turquoise;
}